@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 4px;
  opacity: 0.2;
}

.thin-scroll:hover::-webkit-scrollbar-thumb {
  opacity: 0.4;
}