@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 4px;
  opacity: 0.2;
}

.thin-scroll:hover::-webkit-scrollbar-thumb {
  opacity: 0.4;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .animate-zoomIn {
    animation: zoomIn 0.3s ease-out forwards;
  }

  .animate-bounce-short {
    animation: bounce 1s infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}